.custom-btn-netflix {
    background-size: cover;
    background-image: url(/Assets/Netflix\ logo.png);
    color: #fff;
    border: none;
    width: 210px;
    height: 80px;
    top: 71px;
    left: 37px;
  
  }
 .bg-color{
  background-color: #00000075;
 }
 .bg-color2{
  background-color:#000000;
 }