header {
  background-image: url("../assets/37729135-thin-line-icon-with-flat-design-element-of-business-idea-thinking-person-problem-solving-human-brain.jpg");
  background-attachment: fixed;
  background-size: cover;
  }
  .color-text{
    color:#6A6868;
  }
  .form{
    height: 650px;
    width: 450px;
    background-color: #000000CC ;
    ;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
  
    backdrop-filter: blur(10px);
   
    box-shadow: 0 0 40px ;
    padding: 50px 35px;
}
label{
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
}
input{
  display: block;
  height: 50px;
  width: 100%;
  background-color:  #D9D9D9;

  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
}
form *{
  font-family: 'Poppins',sans-serif;
  color: #ffffff;
  letter-spacing: 0.5px;
  outline: none;
  border: none;}

  ::placeholder{
    color: black}
    .remember{
      background: #5c5b5b;
      width: 19px;
      height:18px;
    }
    .custom-btn-netflix {
      background-size: cover;
      background-image: url(../assets/pngwing\ 1.png);
      color: #fff;
      border: none;
      width: 210px;
      height: 80px;
      top: 71px;
      left: 37px;
    
    }
    
 
 
.custom-btn {
  background-size: cover;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  width: 257px;
  height: 258px;
  top: 475px;
  left: 127px
}

/* .custom-btn-netflix {
  background-size: cover;
  background-image: url(/assets/profile/Netflix\ logo.png);
  color: #fff;
  border: none;
  width: 210px;
  height: 80px;
  top: 71px;
  left: 37px;
  

} */
.custom-btn-netflix {
    background-size: cover;
    background-image: url(../assets/Netflix\ logo.png);
    color: #fff;
    border-radius: 10px;
    width: 210px;
    height: 80px;
    top: 71px;
    left: 37px;
    box-shadow: 0 4px 6px -1px rgba(0,0,0,0.5);
  
  }
 .bg-color{
  background-color: #00000075;
 }
 .bg-color2{
  background-color:#000000;
 }
 .custom-btn-netflix {
  background-size: cover;
  background-image: url(../assets/Netflix\ logo.png);
  color: #fff;
  border: none;
  width: 210px;
  height: 80px;
  top: 71px;
  left: 37px;
 }
 .profile {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  border: 3px solid transparent;
  text-align: center;
  display: inline-block;
  margin-left: 25px;
 }

 footer{
  position: absolute;
  margin-top: 700px;
  z-index: 2;
  background: rgba(0,0,0,0.65);
  width: 100%;
  height: 200px;
 }

 .ftr-content{
  margin-left: 10%;
  padding-top: 20px;
  font-size: 1em;
 }
 .contact{
  margin-bottom: 30px;
 }
 .ftr {
  margin-bottom: 0px;
  width: 70%;
  font-size: 0.8rem;
  display: flex;
  justify-content: space-between;
 }


 .signin{
  margin-top: 10%;
 }
 